/*this file contains boilerplate css common to all pages*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    font-size: 62.5%;

    --rich-black-fogra-39: #0b090aff;
--eerie-black: #161a1dff;
    --prussian-blue: #033270ff;
--sapphire-blue: #1368aaff;
--green-blue-crayola: #4091c9ff;
--light-cornflower-blue: #9dcee2ff;
--misty-rose: #fedfd4ff;
--dark-salmon: #f29479ff;
--tomato: #f26a4fff;
--cinnabar: #ef3c2dff;
--venetian-red: #cb1b16ff;
--rosewood: #65010cff;
--light-gray: rgb(185, 185, 185);
--cultured: #f5f3f4ff;
--white: #ffffffff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

body{
    font-size: 1.6rem;
}
/*image-responsiveness*/

img,
video,
iframe{
    max-inline-size: 100%;
    block-size: auto;
   aspect-ratio: 16/9;
  object-fit: cover ;
  object-position:center;
}

/* resetting lists and links*/

ol,ul{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
}

button{
    border: none;
    cursor:pointer ;
    
}

p{
    line-height: 1.5rem;
}