.card{
    display: flex;
    width:25rem;
   /*min-height:400px;*/
    background:var(--cultured);  
    margin: 1rem;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.card__img{
       height: 22.5rem;
        width: 100%;
        background: var(--cultured);     
}

.card__img-product{
    width: 100%;
    height: 100%;
}

.card__description
    {
    padding: 7px;
   
}

.card-subtitle.light{
    font-size: 1.1rem;
    font-weight: bold;
    color:var(--light-gray) ;
}

.card-info-primary{
    font-size: 1.5rem;
    margin: 0.7rem 0;
}

.discount{
    color: var(--sapphire-blue);
    font-weight: bold;
}
.card__description-secondary{
    color: var(--venetian-red);
    font-size: 1rem;
}

.card__cta{
    display: flex;
}

button{
        margin: 0.5rem 0;
        padding: 0.5rem 4.25rem;
        font-size: 1.4rem;
        background: var(--cinnabar);
        flex-grow: 1;
}