.badge-icon{
   font-size: 3rem;
}
.badge{
    display: inline-block;
    position: relative;
}

.badge-style{
    background: var(--venetian-red);
    display: flex;           /*check for utility 11-13*/
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    width: 1.75rem;
    font-size: 1rem;
    border-radius: 4rem;
    color: var(--white);
    background-color:var(--venetian-red);
    position: absolute;
}

.badge-tr{  
   /* right: -0.5rem;
    top:-0.5rem;
    transform: translate();*/
    right: 0rem;
    top:0rem;
    transform: translate(30%,-30%);
}

.badge-br{
    right:0;
    bottom: 0;
    transform: translate(30%,30%);
}